:root{
	--textColor:#fff;
	--bgColor:darkslategray;
	--black:#08020A;
	}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.5px;
}
body{
background-color:var(--bgColor);
}
a{
	text-decoration: none;
	color:var(--textColor);
}
ul>li{
	list-style: none;
}
.head{
display:flex;
justify-content: space-between;
align-items: center;
text-align: center;
color:white;
	width:100%;
	height:15vh;
background-color:var(--black) ;
font-family: 'Lato', sans-serif;
}
.header-search{
	margin:10px;
}
.head>.header-search>h1{
	margin-top:-15px;	
	margin-left:10px;
	letter-spacing: 2px;
	text-shadow: 5px 8px 5px #D3D3D3;
	font-family: 'Arizonia', cursive;
font-family: 'Pacifico', cursive;
}
.head>.header-search>h1>a{	
	text-decoration: none;
	color: #fff;
}
.head>.header-search>p{
	margin-top:-5px;
}
.head>.header-search>input{
position: absolute;
	width:20%;
padding:10px;
top:30px;
margin-left:300px;
border-radius:15px;
border:0.5 solid grey;
}

.head>ul{
list-style:none;
}
.head>ul>li>a{
padding:5px;
font-weight: bold;
letter-spacing: 1.5px;
}
.head>ul>li{
float:left;
height:30px;
width:120px;
}
.head>ul>li>ul>li>a{
font-weight: bold;
font-size: 14px;
letter-spacing: 1px;
}
.head ul li ul li{
display:none;
}
.head ul li:hover ul li{
display:block;
}

/*resposive of head*/
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/*end of header*/



/*start of menu*/

.mid{
	width:100%;
	background: var(--black) ; 
list-style:none;
float:left;
}
.mid>li>a{
font-weight:bolder;
font-size:25px;
transition: 4s ease;
padding: 5px 15px;
}
.mid>li{

	margin: 5px;
/*display:inline-block;*/
float:left;
height:40px;
width:170px;
z-index:1;
	position: relative;
}
.mid a:hover{
	padding: 15px 5px;
	color:grey;
	transition: 2s ease;
}
.mid li:hover{
	background:var(--black) ;
}
.mid li ul li{
display:none;
height:30px;
background-color: var(--black) ;
padding: 10px;
}
.mid li ul li a{
font-size:15px;
}
.mid li:hover ul li{
display:block;
}
/*end of menu*/s

/*slider*/
.mySlides {display: none}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a var(--black)  background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top:50%; 
}
.text>h5{
		font-weight:700;
	font-size:70px;
	text-shadow:5px 5px 10px grey; 
}
.text>h6{
	font-size:90px;
	font-style:normal;
	font-family: serif;
	font-weight:900;
	text-shadow:2px 2px var(--black) ; 
}
.get{
				text-decoration: none;
	color:var(--black) ;
	font-weight:800;
	background-color:white;

}
.get:hover{
		    	background-color: DarkSlateGray ;
		    }
		    .does{
		    	text-decoration:none; 
		    	color:white; 
		    	text-shadow:2px 2px var(--black) ; 
		    }
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top:60px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .prev, .next,.text {font-size: 11px}
  .numbertext {
  top:150px;
}

}

/*end of slider*/
.a1{
	margin-top: 50px;
}
.nob{
	padding: 5px;
	width:100%;
	background-color:#040404;
 font-weight: bolder;
 font-size:20px;
 text-shadow: 1px 1px;
 color:white;
}
.first{
	width:1300px;
	overflow:hidden;
}
.fir{
	position: relative;
	width:2000px;
	animation-name:sliderani;
	animation-duration: 15s;
animation-iteration-count: infinite;
}
.fir img{
	float:left;
	height:35%;
	width:200px;
	/*position: relative;*/
}
@keyframes sliderani{
	0%{
		left:0px;
	}
20%{
	left:0px;
}
25%{
	left:-200px;
}
45%{
	left:-400px;
}
50%{
	left:-400px;
}
70%{
	left:-600px;
}
75%{
	left:-1200px;
}

}
.a2{
	margin-top: 50px;
}
.edu{
	height:30px;
	width:100%;text-shadow: 1px 1px;
	background-color:#040404;
 font-weight: bolder;
 font-size:20px;color:white;
}

.second{
	width:1300px;
	overflow:hidden;
}

.sec{
	width:2000px;
	animation-name:sliderani1;
	animation-duration: 15s;
animation-iteration-count: infinite;


}
.sec img{
	float:left;
	height:35%;
	width:200px;
      
}
@keyframes sliderani1{
	0%{
		left:0px;
	}
20%{
	left:0px;
}
25%{
	left:-200px;
}
45%{
	left:-400px;
}
50%{
	left:-400px;
}
70%{
	left:-600px;
}
75%{
	left:-1200px;
}
}

/*quotes*/
.third{
	margin-top: 50px;
}
.third>h4{
	width: 100%;
	 font-weight: bolder;
 font-size:60px;
 background-color:var(--black) ;
 font-size:20px;color:white;
 text-shadow: 1px 1px;
}
.quotes-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.quotes-sub1{
	background-color: var(--black) ;
	color: white;
	margin: 30px;
}
.quotes-sub2{
	background-color: var(--black) ;
	color: white;
	margin: 20px;
}


/*story*/
.story{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}
.story1{
	background-color: var(--black) ;
	color:grey;
	margin: 10px;
}
.story2{
	background-color: var(--black) ;
	color:grey;
	margin: 10px;
}
.story3{
	background-color: var(--black) ;
	color:grey;
	margin: 10px;
}
/*footer*/

.last{
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
		background-color:var(--black) ;
		color: white;
		padding: 15px;
}
.last h1{
	color:white;

}
.last p{	
	color:white;
}
.last pre{ 
  color:white;
  font-size:15px;


}
.last .hell table{
color:white;
}
.last .hell h5{	
	color:white;
	font-size:20px;
}
/*chat css*/
	.popup{
			position: fixed;
			height: 100%;
			width: 100%;
			display: none;
			background-color: rgba(0,0,0,0.5);
			top:0;
			left: 0;
		}
		.popup-container{
			display: block;
    height: 55%;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 35%;
    left: 73%;
    z-index: 1;
			border-radius:10px; 
			border: 2px solid grey;
			background-color: #fff;
}
		.chatlogs{
		padding:10px;
		width:100%;
		height:300px;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color:#fff;
		}
		.chat{
		display:flex;
		flex-flow:row wrap;
		align-items: flex-start;
		margin-bottom:10px;
		}
		.chat .user-photo{
		width:30px;
		height:30px;
		background: #ddd;
		border-radius:50%;
		}
		.chat .chat-mess{
		width:70%;
		padding:15px
		margin:5px 10px 0;
		border-radius:5px;
		color:#fff;
		font-size:18px ;
		}
		.friend .chat-mess{
		background: green;
		}
		.self .chat-mess{
		background:red;
		order:-1;
		}
		.chat-form{
		margin-top: 2px;
		display: flex;
		align-items: flex-start;
		}
		.chat-form textarea{
		background: #fbfbfb;
		width:100%;
		height:50px;
		border:2px solid #eee;
		border-radius: 3px;
		padding: 10px;
		resize: none;
		font-size:20px;
		color:#333;
		}
		.chat-form textarea:focus {
		background: #fff;
		}
		.chat-form textarea::webkit-scrollbar{
		width:10px;
		}
		.chat-form textarea::webkit-scrollbar-thumb{
		border-radius: 5px;
		background: rgba(0,0,0,.1);
		}
		.chat-form button{
		background: #1ddced;
		padding-left: 5px 15px;
		font-size:30px;
		color:#fff;
		border:none;
		margin:0 10px;
		border-radius:3px;
		box-shadow: 0 3px 0 #0eb2c1;
		cursor: pointer;
		-webkit-transition: background .2s ease;
		-moz-transition: background .2s ease;
		-o-transition: background .2s ease;
		}
		.chat-form button:hover {
		background: #13c8d9;
		}
		.popup>.popup-container>.close{
			position: absolute;
			display: block;
			right: 10px;
			top:10px;
			cursor: pointer;
			padding: 8px;
		}
		.popup>.popup-container>.close:hover{
			background-color: red;
			color:white;
			border-radius: 50%;
		}